<%-include("./partials/header") %>
    <!-- <h1>Movies</h1> -->
    <div class="jumbotron" style = "background-color: antiquewhite;">
      <h1 class="display-4"><b>Moviefans</b></h1>
      <p class="lead" ><h6>Movie biodata a click away!</h6></p>
      <hr class="my-4">
      <p>A free web service to obtain movie information, all content and images, build with ❤️ by <a href = "https://vaishnavitiwari.com">Vaishnavi Tiwari</a>.</p>
    </div>

    <!-- <form action = "/result" method = "GET">
      <label>Enter movie name</label>
      <br>
      <input type ="text" name ="movieName" placeholder="Movie Name" required>
      <!--<input type ="password" name ="password" placeholder="password" required>-->
      <!-- <button>Submit</button>
    </form> --> -->
    <%-include("./partials/footer") %>